*{
    margin: 0;
}

.container{
    width: 320px;
    height: 96vh;
    margin: auto;
    border: 1px solid;
    background: url("/images/dashboard_theme.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.waiting-container{
    
    width: 320px;
    height: 96vh;
    margin: auto;
    align-content: center;

    background: url("/images/waiting-theme-img.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.time-stamp{
    color: lightgreen;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.waiting-msg{
    color: lightpink;
    text-align: center;
    margin-top: -150px;
    margin-bottom: 20px;
    font-size: 22px;
    font-family: unset;
    font-style: italic;
}

.birth-cake-container{
    width: 320px;
    height: 96vh;
    margin: auto;
}

.cake-img-container-before{
    height: 96vh;
    align-content: end;
    text-align: center;
    background: url("/images/dashboard_theme.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cake-img-container-before>img{
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
}

.cake-img-container-after{
    display: none;
}

.celebrate-msg-container{
    margin-bottom: 100px;
    padding: 5px;
    color: palevioletred;
    font-family: unset;
    font-style: oblique;
    font-size: x-large;
    line-height: 1.5;
}

.candle-btn-container>button{
    border: none;
    outline: none;
    padding: 10px 20px 10px 20px;
    font-family: unset;
    font-size: large;
    font-style: oblique;
    font-weight: bolder;
    background-color: palevioletred;
    color: pink;
    border-radius: 10px;
    margin-bottom: 30px;
    border-style: outset;
    border-color: pink;
}

.candle-btn-container>button:hover{
    cursor:pointer;
    border-style: inset;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.celebration-container-after{
    height: 96vh;
    align-content: center;
    background: url("/images/celebration-theme.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.celebration-container-after>img{
    width: 320px;
    height: 600px;
}

.celebration-container-before{
    display: none;
}

.birthday-wish-msg-container{
    width: 320px;
    height: 97vh;
    margin: auto;
    align-content: center;
    background: url("/images/dashboard_theme.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wish-msg-container>img{
    width: 320px;
}

.menu-icons{
    width: 320px;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: rgb(48, 7, 7);
}

.menu-icons>img{
    width: 20px;
    padding: 2px;
}

.menu-icons>img:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(17, 13, 27);
}

.user-input-container{
    text-align: center;
    
}

.user-input-container>button{
    padding: 8px 10px 8px 10px;
    border: none;
    outline: none;
    margin-top: 50px;
    font-family: unset;
    font-style: oblique;
    margin-left: 10px;
    border-radius: 5px;
    color: rgb(249, 132, 152);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.user-input-container>input{
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    font-family: cursive;
    font-style: italic;
    border-radius: 5px;
    color: red;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.user-input-container>input::placeholder{
    color: rgb(249, 132, 152);;
}